<section class="list-group">
  <header class="page-header">
    <h1>Tasks</h1>
  </header>
  <article>
    <div class="input-group">
      <input ng-model="task.text" type="text" class="form-control" placeholder="What needs to be done?">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="createTask()" type="button">Add Task</button>
      </span>
    </div>
  </article>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" ng-class="{'text-muted': task.complete}" ng-repeat="task in tasks | orderBy: 'complete'" ng-init="task.complete = false">
      <input ng-model="task.complete" type="checkbox">
      <label ng-click="editing = true" ng-hide="editing">{{task.text}}</label>
      <input ng-show="editing" ng-model="task.text" ng-blur="editing = false; updateTask(task)" type="text">
      <aside class="btn-group pull-right" role="group">
        <a href="" class="btn btn-xs btn-danger" ng-click="deleteTask(task, $index)">Delete</a>
      </aside>
    </li>
  </ul>
</section>
